*.iml
.gradle/
/local.properties
local.properties
/.idea/
.vscode/
.kotlin/
.DS_Store
Thumbs.db
/build
captures/
.externalNativeBuild
.cxx

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

